<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <context:component-scan base-package="com.oa.serviceImp"/>
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
       <property name="dataSource" ref="dataSource"></property>
    </bean>
    
     <!-- 2.事务的详情    propagation:事务传播类型-->
    <tx:advice id="myAdvice" transaction-manager="txManager"> 
      
         <tx:attributes>
     			<tx:method name="*" propagation="REQUIRED" read-only="false"/>
     			<tx:method name="find*" read-only="true"/>
     			<tx:method name="select*" read-only="true"/>
				<tx:method name="get*" read-only="true"/>
     	 </tx:attributes>
    </tx:advice>
   <aop:config>
     	<aop:advisor advice-ref="myAdvice" pointcut="execution(* com.oa.serviceImp.*.*(..))"/>
    </aop:config>
</beans>